.loginsignup{
    width: 100%;
    height: 80vh;
    background: #ffffff;
    padding-top: 100px;

}

.loginsignup-container{
     width: 580px;
    height: 600px;
    /* background: #f6950e;
    border-color:1px solid #fb9f40;
    border-radius: 5px; */
    margin: auto;
    padding: 40px 60px; 
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.loginsignup-container h1{
    margin: 20px 0px;
    color:rgb(222, 222, 222);
}

.loginsignup-fields{
    display: flex;
    flex-direction: column ;
    gap: 29px;
    margin-top: 30px;
}
.login-here{
    color: #fb9f40;
}
.cont-btn{
    border-radius: 10px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #fb9f40;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: rgb(224, 224, 224);
    background: #fb9f40 ;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: #cecccc;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;

}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #cecccc;
    font-size: 18px;
    font-weight: 500;
}